body {
    background-color: rgb(141, 18, 242);
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    
}

header{
    color: rgb(12, 9, 9);
    text-align: center;
    


}

section{
    background-color:floralwhite;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.321);
}

footer{
    font-size: 18pt;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    color: rgb(14, 13, 13);
}

div {
    align-items: center;
    text-align: center;
    padding: 10px;
}